SUPABASE_URL=inserisci_il_tuo_url_qui
SUPABASE_ANON_KEY=inserisci_la_tua_anon_key_qui
GOOGLE_WEB_CLIENT_ID=inserisci_il_tuo_web_client_id_google_qui
GOOGLE_IOS_CLIENT_ID=inserisci_il_tuo_ios_client_id_google_qui
